$bg-color: map-get($nav, bg-color);
$link-color: map-get($nav, link-color);

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;

    @include media-break-point(tablet){
        display: none;
    };    

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $bg-color;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: stretch;
    }

    &__item {
        &::before {
            content: "";
            @include position(absolute, null 1rem 1rem 1rem);
            height: 0.5rem;
            background-color: map-get($nav, link-color);
            transform: scaleX(0);
            transition: $ts;
        }

        &:hover {
            &::before {
                transition: $ts;
                transform: scaleX(1);
            }
        }
    }

    &__link {
        font-family: $oswald-ff;
        font-size: 2.2rem;
        padding: 3rem 2rem;
        word-spacing: 4px;
        letter-spacing: 2px;
        color: $link-color;
        transform-origin: bottom;
        transition: $ts;

        &::first-letter {
            text-transform: capitalize;
        }
    }

    &__item:hover .nav__link{
        transition: $ts;
        transform: scale(1.1) translateY(-0.5rem);        
    }
}